
.about {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: -205px;
    width: 790px;
    height: 364px;
    background-image: url(../images/s3/dots.png);
    background-size: contain;
}

  &__content {
    max-width: 100rem;
    margin: 0 auto;
    position: relative;


  }

  &__text {
    position: relative;
    left: 36%;
    max-width: 44.25rem;
    border: solid 9px $border-grey;
    padding: 4.375rem 7rem;
  }

  &__heading {
    font-size: 2.4rem !important;
    line-height: normal;
    margin-bottom: 1.9375rem;
    text-align: left;
  }

  &__description {
    &-paragraph {
      letter-spacing: 0.09px;
      line-height: 20px;
      font-size: 18px;
    }
  
  }

  &__medals {
    position: relative;
    max-width: 14rem;
    margin-top: 1.875rem;
    font-size: 16px;

    &-coin {
      &:hover::before {
        position: absolute;
        content: "1-е место в ЮФО в категории мини-сервис";
        top: 90px;
        left: 0;
        text-align: center;
        padding: 0.9375em 1.25em;
        color: $subheading-grey;
        background-color: $white;
        box-shadow: 0 0 40px 0 rgba(172, 172, 172, 0.33);
      }

      &::after {
        content: "";
        position: absolute;
        top: 71px;
        left: 46%;
        border: 10px solid $white;
        border-top-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
      }
    }
  }

  &__picture {
    &-oil {
      position: absolute;
      left: 0;
      top: 0;

      .gear {
        position: absolute;
        max-width: 39.3125rem;
        left: 13rem;
        top: -2rem;
      }

      .oil {
        position: absolute;
        max-width: 19.5rem;
        left: 32.375rem;
        top: 11rem;
      }

      .left-oil {
        position: absolute;
        max-width: 39.375rem;
        top: 21.875rem;
      }

    }

    &-drop {
      position: absolute;
      bottom: 0;
      right: 0;

      .minidrop {
        position: relative;
        top: -11rem;
        left: 8rem;
      }
      
      .right-oil {
        position: relative;
      }
    }
  }
}