.advantages {
  position: relative;
  padding-top: 3.5625rem;
  overflow: hidden;
  margin-top: 3rem;
  
  .section-heading {
    padding-bottom: 3.5625rem;
  }
  
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 11rem);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 10vw;
    row-gap: 5vw;
  }

  &__item {
    
    &-thumb {
      margin-bottom: 1.25rem;
      max-height: 7.5rem;
    }

    &-description {
      max-width: 178px;
      font-size: 1.125rem;
      font-weight: normal;
      line-height: 1.11;
      letter-spacing: 0.09px;
      text-align: center;
    }
  }

  &__dots {
    position: absolute;
    left: 50%;
    top: 0;
    width: 100%;
    min-height: 11.5rem;
    background-image: url(../images/s3/dots.png);
  }

}