.advantages {
  position: relative;
  padding-top: 3.5625rem;
  overflow: hidden;
  margin-top: 2rem;
  
  .section-heading {
    padding-bottom: 0.2rem;
  }
  
  &__list {
  }
  
  &__item {
    flex-basis: 21.250em;
    margin-bottom: 4.375em;
    
    &-thumb {
      display: flex;
      min-height: 130px;
      align-items: flex-end;
      margin-bottom: 1.25rem;
    }

    &-description {
      max-width: 178px;
      font-size: 1.125rem;
      font-weight: normal;
      line-height: 1.11;
      letter-spacing: 0.09px;
      text-align: center;
    }
  }

  &__dots {
    position: absolute;
    left: 50%;
    top: 12px;
    width: 100%;
    min-height: 11.5rem;
    background-image: url(../images/s3/dots.png);
  }

}