.help {
  margin-top: 5rem;
  .text-center {
    @media screen and (max-width:580px) {
        font-size: 1.9rem;
      }
  }
  &-list {
      display: grid;
      grid-template-columns: repeat(auto-fit, 21.25rem);
      grid-template-rows: repeat(2, 1fr);
      column-gap: 2rem;
      row-gap: 2rem;
      justify-content: center;
      margin-top: 2.4rem;
      
      @media screen and (max-width:1200px) {
        grid-template-columns: repeat(auto-fit, 48%);
      }
      @media screen and (max-width:991px) {
        grid-template-columns: repeat(auto-fit, 46%);
      }
      @media screen and (max-width:768px) {
        grid-template-columns: repeat(auto-fit, 109%);
      }
      @media screen and (max-width:580px) {
        grid-template-columns: repeat(auto-fit, 95%);
      }
      &__item {
          position: relative;
          min-height: 16.875rem;
          transition: 0.5s;
          &:nth-child(1) {
              background-image: url('../images/s4/1.png');
              background-size: cover;
            } 
            &:nth-child(2) {
                background-image: url('../images/s4/5.png');
                background-size: cover;
            } 
            &:nth-child(3) {
                background-image: url('../images/s4/3.png');
                background-size: cover;
            } 
            &:nth-child(4) {
                background-image: url('../images/s4/4.png');
                background-size: cover;
            } 
            &:nth-child(5) {
                background-image: url('../images/s4/5.png');
                background-size: cover;
            } 
            &:nth-child(6) {
                background-image: url('../images/s4/6.png');
                background-size: cover;
          } 
      }
      &__heading {
          font-family: TTCommons-DemiBold;
          font-size: 2.25rem;
          line-height: 0.97;
          letter-spacing: 0.18px;
          font-weight: 600;
          color: $color-white;
          position: absolute;
          z-index: 2;
          bottom: 0;
          padding: 60px 27px;
          transition: 0.3s;
      }

      &__description {
          color: $heading-black;
          line-height: 1.13;
          letter-spacing: 0.08px;
          font-size: 1rem;
          font-family: PTSans-Regular;
          position: absolute;
          top: 70px;
          opacity: 0;
          height: 0;
          visibility: hidden;
          transition: .7s;
      }

      &__overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-image: url('../images/s4/overlay.png');
          z-index: 1;
      }

      &__arrow {
          position: absolute;
          left: 0;
          bottom: 0;
          z-index: 3;
          padding: 40px 27px;
      }

      &__item:hover {
          background-image: none;
          border:  solid 9px $border-grey;
          padding: 20px;
          transition: 0.5s;
      }

      &__item:hover .help-list__heading {
          color: $heading-black;
          top: 20px;
          padding: 0;
          font-size: 1.875rem;
      }
      &__item:hover .help-list__description {
          top: 30px;
          left: 3%;
          opacity: 1;
          visibility: visible;
          margin-top: 3.5rem;
      }

      &__item:hover .help-list__overlay {
          display: none;
      }

      &__item:hover .help-list__arrow {
          left: 40%;
          opacity: 0;
          transition: 0.5s;
      }
  }
  &-more {
      margin-top: 3.3em;
      margin-bottom: 4em;
  }
}