.modal {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 22222222;

    form {
        .header-tagline__promo-sign.little {
            padding: .65em 2em;
        }

        .checkboxes {
            position: relative;
            left: -12%;
            margin-bottom: 12px;
            cursor: pointer;
           
            .click:checked ~ .checkmark {
                background-color: #bfc0c2;
                transition: all 0.4s ease;
            }

            .click:checked ~ .checkmark::after {
                opacity: 1;
                scale: 1;
            }

            .checkmark::after {
                left: 40%;
                top: 29%;
                width: 5px;
                height: 10px;
                border: solid $color-white;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg); 
                opacity: 0;
                scale: 0;
                transition: all 0.4s ease;
            }
        }

        .click {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
            background-color: #bfc0c2;
        }

        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
            border-radius: 50%;
            background-color: #bfc0c2;
            

            &::after {
                content: "";
                position: absolute;
                opacity: 0;
            }
        }

        .checkmark.first {
            @media screen and (max-width:400px) {
                left: 20px;
            }
        } 

        .personality {
            font-size: 0.938em;
            font-family: PTSans-Regular;
            font-style: italic;
            color: $input-link-grey;
            letter-spacing: 0.08px;
            margin-top: 1.3em;
            position: relative;

            &-link {
                color: #ffac33;
                text-decoration: none;

                &:hover {
                    border-bottom: 1px solid #ffac33;
                }
            }
        }
    }
    
    &--callrequest {
        max-width: 480px;
        min-height: 700px;
        padding: 36px 60px;
        display: flex;
        justify-content: center;
        border-radius: 20px;
        border: solid 10px #e2e2e2;
        background-color: #ffffff;
        position: relative;
        overflow: hidden;
        z-index: 1;
        @media screen and (max-width: 500px) {
            padding: 20px 6px;
        }

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -1;
            background-image: url('../images/s13/oil_form.png');
            background-size: 20%;
            background-repeat: no-repeat;
            background-position-y: 90%;
        }

        .packs-content__configuration-constructor {
            margin-right: 0;
            max-width: 320px;

            &-logo {
                text-align: center;
                margin-bottom: 1.250em;
            }

            &-heading {
                font-family: TTCommons;
                font-size: 20px;
                line-height: 1.4;
                letter-spacing: 0.5px;
                @media screen and (max-width:520px) {
                    font-size: 15px;
                    text-align: center;
                }
            }
            &-enter {
                @media screen and (max-width:520px) {
                    width: 14em;
                }
            }

            &-desc {
                font-family: TTCommons;
                font-size: 20px;
                line-height: 1.4;
                letter-spacing: 0.5px;
                text-align: left;
                margin-top: 1em;
                margin-bottom: 0.800em;
                align-self: baseline;
                @media screen and (max-width:520px) {
                    font-size: 15px;
                    align-self: center;
                }
            }

            &-list {
                padding-left: 0;
                // width: 320px;
                font-family: PTSans-Regular;
                font-size: 18px;
                letter-spacing: 0.09px;
                color: $packs-grey;

                
            }

            &-link {
                list-style-type: none;
                min-width: 78px;

                .box {
                    height: 70px;
                    position: relative;                  
                    display: flex;
                    flex-direction: column-reverse;
                    align-items: center;
                    cursor: pointer;
                    z-index: 1;

                    font-family: PTSans-Regular;
                    font-size: 18px;
                    letter-spacing: 0.09px;
                    color: $packs-grey;

                    &:hover {
                        color: #e97605;
                    }
                    
                
                    &-click {
                        position: absolute;
                        cursor: pointer;
                        top: 0;
                        left: 0;
                        opacity: 0;
                    }
        
                    &-mark {
                        position: absolute;
                        top: 0;
                        height: 25px;
                        width: 25px;
                        border-radius: 50%;
                        z-index: 2;
                        box-shadow: inset 0 0 8px 0 rgba(238, 139, 13, 0.58);
                        background-color: $color-white;
                        

                        &::after {
                            content: "";
                            position: absolute;
                            left: 20%;
                            top: 22%;
                            width: 15px;
                            height: 15px;
                            background-image: url('../images/s5/Check-Icon.png');
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: center center; 
                            opacity: 1;
                            transform: scale(1);
                            transition: all .6s ease;
                        }
                    }
                    
                    .box-click:checked ~ .box-mark {
                        box-shadow: inset 0 0 8px 0 rgba(122, 122, 122, 0.58);
                    }

                    .box-click:checked ~ .box-mark::after {
                        opacity: 0;
                        transform: scale(0);
                    }

                    .box-click:checked {
                        color: rgb(211, 55, 55);
                    }
                }
            }

            .message {
                margin-bottom: 0;
            }

            .header-tagline__promo-sign {
                padding: 1em 1.5em;
                margin-top: 1em;
            }
            .personality {
                @media screen and (max-width:520px) {
                    font-size: 0.8em;
                    margin-left: 20px;
                }
            }
        }
    }
    &--configuration {
        display: flex;
        justify-content: center;
        position: relative;
        padding: 36px 40px;
        border-radius: 20px;
        border: solid 10px #e2e2e2;
        background-color: #ffffff;
        overflow: hidden;
        z-index: 1;
        @media screen and (max-width:768px) {
            padding: 53px 40px;
        }
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -1;
            background-image: url('../images/s13/oil_form.png');
            background-size: 10%;
            background-repeat: no-repeat;
            background-position-y: 90%;
        }
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -1;
            background-image: url('../images/s13/meh.jpg');
            background-size: 33%;
            background-repeat: no-repeat;
            background-position-y: 90%;
            background-position-x: 100%;
        }

        .packs-content__configuration {
            &-constructor {
                margin-right: 0;
                
                &-heading {
                    margin-top: 23px;
                    max-width: 100%;
                    font-size: 20px;
                    line-height: 1.4;
                    letter-spacing: 0.5px;
                    @media screen and (max-width:768px) {
                        text-align: center;
                    }
                }
                
                &-subheading {
                    font-size: 16px;
                    font-family: PTSans-Regular;
                    line-height: normal;
                    letter-spacing: 0.08px;
                    color: $packs-grey;
                    margin-bottom: 30px;
                    @media screen and (max-width:768px) {
                        text-align: center;
                        width: 100%;
                    }
                }
                &-enter {
                    @media screen and (max-width:768px) {
                        width: 14em;
                    }
                }

                .d-flex {
                    @media screen and (max-width:768px) {
                        flex-direction: column;
                        align-self: center;
                    }
                }

                &-data.svyat {
                    @media screen and (min-width: 769px){
                        display: flex;
                        justify-content: center;
                        max-width: 30%;
                    }
                }

                &-data.albedo {
                    margin-right: 10px;

                    @media screen and (max-width:768px) {
                        text-align: center;
                        margin-right: 0px;
                    }

                    &:last-child {
                        margin-right: 0;
                    }

                    #name, #telephone {
                        max-width: 172px;
                    }
                }

                

                &-enter {
                    text-align: center;
                    padding-left: 0;
                    padding-right: 0;
                    
                    @media screen and (min-width: 769px){
                        max-width: 90%;
                        
                    }
                }

                .wrap-personality {
                    margin-left: 32px !important;
                    margin-bottom: 30px;
                    @media screen and (max-width:768px) {
                        flex-direction: row;
                    }
                    .personality {
                        font-size: 12px;
                        padding-left: 10px;
                    }
                }

            }

        }

    }

}