.reviews {
  background-image: url('../images/s9/car-bg.png');
  background-size: cover;
  background-position-y: -90px;
  padding-top: 104px;
  padding-bottom: 92px;
  position: relative;
  
  &-orange {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #db6f00;
    opacity: 0.94;
  }
  &-content {
    max-width: 100rem;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  .section-heading {
    margin-bottom: 60px;
    font-family: TTCommons-DemiBold;
    font-size: 42px;
    color: $white;
    font-weight: 600;
    line-height: normal;
    letter-spacing: normal;
    position: relative;
    z-index: 1;
    @media screen and (max-width:480px) {
      font-size: 30px;
    }
  }

  &-slider {
    &__item {
      max-width: 360px !important;
      margin-right: 90px;
      @media screen and (max-width:1250px) {
        max-width: 320px !important;
      }
      @media screen and (max-width:1200px) {
        max-width: 50% !important;
      }
      @media screen and (max-width:991px) {
        max-width: 20em !important;
      }
      
      &:focus {
        outline: none;
      }
    }
    
    &__content {
      position: relative;
      height: 340px;
      padding: 1em 1.75em;
      font-size: 16px;
      line-height: 1.25;
      letter-spacing: 0.08px;
      text-align: left;
      color: $reviews-grey;
      background-color: $white;
      border: 9px solid transparent;
      @media screen and (max-width:1250px) {
        height: 370px;
      }
      @media screen and (max-width:480px) {
        height: 400px;
      }

      &::after {
        position: absolute;
        content: "";
        border: 14px solid $white;
        border-right-color: transparent;
        border-bottom-color: transparent;
        bottom: -28px;
        left: 6%;
      }

      &::before {
        position: absolute;
        content: "";
        width: 30px;
        height: 30px;
        background-size: contain;
        background-image: url(../images/s9/Vector.svg);
        background-repeat: no-repeat;
        bottom: -24px;
        left: 15px;
        transform: skewX(-15deg);
        z-index: 2;
      }

      &:hover {
        border: 9px solid $border-grey;

        &::after {
          border-left-color: $border-grey;
          border-top-color: $border-grey;
        }
      }

      &-quotes {
        margin-bottom: 20px;
      }
    }

    &__author {
      margin-top: 26px;

      &-thumb {
        margin-right: 14px;
      }
      
      &-name {
        font-family: TTCommons-DemiBold;
        font-size: 1em;
        line-height: 1.25;
        letter-spacing: 0.08px;
        font-weight: 500;
        color: $white;
        margin-bottom: 0;
      }

      &-car {
        font-size: 13px;
        line-height: 1.38;
        color: $reviews-orange;
      }
    }
  }

  .slick-track {
    display: flex;
    justify-content: center;
  }

  .slick-slide {
    margin: 0 auto;
  }

  .slick-next {
    position: absolute;  
    top: 32%;
    right: 0;
    cursor: pointer;
    z-index: 333;
    @media screen and (max-width:991px) {
      width: 3%;
    }
    @media screen and (max-width:768px) {
      right: 16%;
      width: 5%;
    }
    @media screen and (max-width:630px) {
      right: 7%;
      width: 5%;
    }
    @media screen and (max-width:480px) {
      display: none;
    }
  }
  
  .slick-prev {
    transform: rotateY(180deg);
    position: absolute;
    top: 32%;
    cursor: pointer;
    z-index: 333;
    @media screen and (max-width:991px) {
      width: 3%;
    }
    @media screen and (max-width:768px) {
      left: 16%;
      width: 5%;
    }
    @media screen and (max-width:630px) {
      left: 7%;
      width: 5%;
    }
    @media screen and (max-width:480px) {
      display: none;
    }
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding-left: 0;
  
    li {
      display: inline-block;
      width: 10px;
      height: 10px;
      opacity: 0.32;
      background-color: $white;
      border-radius: 50%;
      margin: 0 5px;
      cursor: pointer;
  
      button {
        display: none;
      }
    }
  
    .slick-active {
      width: 6px;
      height: 6px;
      padding: 2px;
      opacity: 0.98;
      background-color: $white;
    }
  }
}