@import '../css/libs/jquery.mCustomScrollbar.css';

.scroll {
  margin: 15px 0;

  &-item {
    min-width: 271px;
    min-height: 253px;
    margin-right: 1px;
    @include set();
    filter: grayscale(1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    cursor: pointer;
    transition: all 0.9s ease;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      filter: grayscale(0);
      
      .scroll-overlay {
        border-color: $bold-orange;
        transition: all 0.9s ease;
      }
      
    }

  }
  
  &-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 9px solid transparent;
    transition-duration: 0.3s;
  }

  .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail {
    max-width: 1320px;
    box-shadow: none;
    height: 5px;
    background-color: $rails-color;
    border-radius: 0;
    margin: 7px auto;
  }

  .mCS-3d-dark.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
    max-width: 205px;
    height: 12px;
    transform: skew(-30deg);
    border-radius: 0;
    background-size: 10px 100%;
    background-repeat: repeat-x;
    background-size: 5px 12px;
    background-image: linear-gradient(to right, $railbar-light 10% 50%, $railbar-dark 50% 90%);
    
  }

}

.mcs-horizontal-example{
  width: 100%;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
}

.mcs-horizontal-example .mCSB_container{
  display: flex;
}

.mcs-horizontal-example .item{
  flex-shrink: 0;
}