.stocks {
  margin-bottom: 5em;
  padding-top: 6.250em;
  padding-left: 15px;
  padding-right: 15px;
  &__content {
    max-width: 100rem;
    margin: 0 auto;
      .section-heading {
        position: relative;
        @media screen and (max-width:580px) {
          font-size: 1.6rem;
        }
        &::before {
          content: "";
          width: 686px;
          height: 184px;
          position: absolute;
          background-image: url('../images/s6/dots.png');
          top: -70%;
          right: 0%;
          z-index: -1;
          @media screen and (max-width:1200px) {
            display: none;
          }
        }
      }
    }
    
    &__slider {
    position: relative;
    margin-top: 50px;
    z-index: 2;
    
    &-item {
      border: 9px solid $border-grey;
      padding-top: 2.167em;
      padding-left: 2em;
      padding-right: 3.56em;
      padding-bottom: 2.167em;
      transition-duration: 0.5s;
      @media screen and (max-width:500px) {
        padding-left: 1em;
        padding-right: 2.56em;
      }
      
      &:focus {
        outline: none;
      }
      
      &:hover {
        border: 9px solid $bold-orange;
        
        .stocks__slider-inner-duration {
          background-color: $bold-orange;
        }
      }
    }
    
    &-inner {
      font-size: 1.125em;
      color: $subheading-grey;
      
      &-heading {
        font-size: 1.33em;
        color: $heading-black;
        font-family: PTSans-Regular;
        letter-spacing: 0.12px;
        line-height: 0.83;
        font-weight: normal;
        position: relative;

      }
      
      &-img {
        width: 128%;
        border-top: 0.938em solid white;
        border-bottom: 0.938em solid white;
        @media screen and (max-width:1110px) {
          width: 110%;
        }
        
      }

      &-duration {
        font-family: PTSans-Regular;
        font-size: 1.125em;
        line-height: 1.11;
        letter-spacing: 0.09px;
        color: $color-white;
        background-color: $slider-grey;
        padding: 0.750em 0.938em;
        text-align: center;
        transform: translate3d(0, 65px, 0) skewX(-15deg);
        transition-duration: 0.5s;
        background-image: linear-gradient(45deg, rgba(0, 0, 0, 0) 49.9%, rgba(213, 213, 213, 0.1) 49.9%, rgba(213, 213, 213, 0.1) 60%, rgba(0, 0, 0, 0) 60%), linear-gradient(-45deg, rgba(213, 213, 213, 0.1) 10%, rgba(0, 0, 0, 0) 10%);
        background-size: 0.3em 0.3em;

        span {
          display: block;
          transform: translate3d(0, 0, 0) skewX(15deg);
        }
      }
    }
  }

  .slick-next {
    position: absolute;  
    top: 45%;
    right: 0;
    transform: rotateY(180deg);
    cursor: pointer;
    @media screen and (max-width:500px) {
      display: none;
    }
  }
  
  .slick-prev {
    position: absolute;
    top: 45%;
    cursor: pointer;
    @media screen and (max-width:500px) {
      display: none;
    }
  }

}

.slick-track {
  display: flex;
  justify-content: center;
}

.slick-list {
  max-width: 1171px;
  margin: 0 auto;
  padding-bottom: 26px;
}

.slick-slide {
  width: 473px !important;
  margin-right: 114px;
  margin: auto;
  @media screen and (max-width:1250px) {
    width: 420px !important;
  }
  @media screen and (max-width:1110px) {
    width: 400px !important;
  }
  @media screen and (max-width:991px) {
    width: 600px !important;
  }
  @media screen and (max-width:710px) {
    width: 400px !important;
  }
  @media screen and (max-width:710px) {
    width: 400px !important;
  }
}



.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  li {
    display: inline-block;
    width: 10px;
    height: 10px;
    opacity: 0.11;
    background-color: #000000;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;

    button {
      display: none;
    }
  }

  .slick-active {
    width: 6px;
    height: 6px;
    padding: 2px;
    opacity: .5;
    background-color: rgb(0, 0, 0);
  }
}