// ==================================================
// ===========>FONT<=================================
@mixin font-face($font-family, $url) {
    @font-face {
        font-family: '#{$font-family}';
        src: url('../fonts/#{$url}.woff') format('woff'),
            url('../fonts/#{$url}.woff2') format('woff2');
    }
}

@include font-face(TTCommons, TTCommons-Regular);
@include font-face(PTSans-Regular, PTN57F0);
@include font-face(TTCommons-DemiBold, TTCommons-DemiBold);
@include font-face(TTCommons-Medium, TTCommons-Medium);

// ==================================================
// ===========>COLORS<===============================

$color-white: #ffffff;
$black-link: #33383c;

$heading-black: #1a1717;
$help-heading: #3f3f3f;
$subheading-grey:#696969;

$bold-orange: #e66700;
$border-grey: #e2e2e2;

$bg-orange: #f3993d;

$input-grey: #787878;
$input-link-grey: #929292;

$slider-grey: #868686;
$copyright-grey: #727272;
$social-grey: #bebebe;

$footer-address: #aeaeae;
$footer-bg: #252525;

$reviews-grey: #565656;
$reviews-bg: #db6f00;
$reviews-orange: #ffba8f;

$tabs-nav-color: #292929;
$tabs-money-color: #2c2c2c;

$rails-color: #d3d3d3;
$railbar-light: #8c8c8c;
$railbar-dark: #5a5a5a;

$packs-grey: #bdbcbc;

// ==================================================
// ===========>MIXINS<===============================

@mixin questions-input {
    width: 17.063em;
    height: 3.750em;   
    border-radius: 1.875em;
    box-shadow: inset 0px 2px 2.8px 0.2px rgba(39, 39, 39, 0.15);
    background-color: $color-white;
    outline: none;
    border: none;
    padding-left: 2.000em;
    font-size: 1.000em;
    font-family: PTSans-Regular;
    color: $input-grey;
}

@mixin footer-item {
    min-height: 4.375em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}