// ==================================================
// ===========>FONT<=================================
@mixin font-face($font-family, $url) {
    @font-face {
        font-family: '#{$font-family}';
        src: url('../fonts/#{$url}.woff') format('woff'),
            url('../fonts/#{$url}.woff2') format('woff2');
    }
}
@include font-face(TTCommons, TTCommons-Regular);
@include font-face(PTSans-Regular, PTN57F0);
@include font-face(TTCommons-DemiBold, TTCommons-DemiBold);
@include font-face(TTCommons-Medium, TTCommons-Medium);

// ==================================================
// ===========>COLORS<===============================


$color-white: #ffffff;
$black-link: #33383c;
$heading-black: #1a1717;
$subheading-grey:#696969;
$bold-orange: #e66700;
$border-grey: #e2e2e2;
$bg-orange: #f3993d;
$help-heading: #3f3f3f;

// ==================================================
// ===========>MIXINS<===============================

@mixin border-styles {

}


// ==================================================
// ===========>ANIMATIONS<===============================


@keyframes arrow {
    20%, 100% {
        opacity: 0;
        transform: translate(200px, 0);
    }
    0% {
        opacity: 1;
    }
    10% {
        opacity: 0;
    }
}

@keyframes textUP {
    0% {
        bottom: 0;
    }
    70% {
        bottom: 200px;
    }
}

