@import '_bootstrap';
@import 'vars';
@import 'wonder';
@import 'about';
@import 'help';
@import 'advantages';
@import 'packs';
@import '../css/libs/slick.css';
@import 'stocks';
@import 'details';
@import 'recomendations';
@import 'reviews';
@import 'scroll';
@import 'footer';
@import 'modal';

html {
    font-size: 16px;
}

p {
    margin-bottom: 0;
}

.mb-0 {
    margin-bottom: 0;
}

.section-heading {
    font-size: 2.625rem;
    color: $help-heading;
    font-family: TTCommons-DemiBold;

}

.bold-orange {
    font-weight: bold;
    color: $bold-orange;
}

body {
    background-color: $color-white;

    .header {
        background-color: $color-white;
        margin: 0 auto;
        padding: 1.25rem 0 0;
        position: relative;
        margin-bottom: 4.125rem;
        min-height: 53rem;
        overflow: hidden;

        &-orange {
            position: absolute;
            z-index: 0;
            width: 50%;
            min-height: 52.3rem;
            top: 0;
            right: -11.625rem;
            background-color: $bg-orange;
        }

        &-content {
            max-width: 100rem;
            margin: 0 auto;
            z-index: 1;
            position: relative;
        }

        &-nav {
            padding-bottom: 4.25rem;
        }

        &-menu {
            &__item {
                line-height: 14px;
                list-style-type: none;
            }

            &__tel {
                font-size: 1.25rem;
                font-family: TTCommons;
                color: $black-link;
                text-decoration: none;
            }

            &__address {
                font-family: PTSans-Regular;
                font-size: 0.875rem;
                user-select: none;
                margin: 0;
            }

            &__time {
                user-select: none;
                font-family: TTCommons;
                font-size: 1.0625rem;
                color: $color-white;
            }

            &__ordercall {
                border-radius: 2.250em;
                border: solid 0.167em $color-white;
                background-color: transparent;
                font-size: 18px;
                letter-spacing: 0.18px;
                color: $color-white;
                font-family: TTCommons;
                cursor: pointer;  
                outline: none;
                padding: 0.833em 1.389em;
                transition: all 0.8s ease;


                &:hover {
                    background-color: $color-white;
                    color: $bg-orange;
                    border: solid 0.167em $color-white;
                    transition: all 0.5s ease;
                    font-weight: bold;
                }
            }
        }

        &-tagline {
            padding-left: 2rem;

            &__text {
                flex-basis: 40%;
            }

            &__headings {
                padding-bottom: 2.4375rem;
            }

            &__heading {
                font-family: TTCommons-DemiBold;
                font-size: 3.5rem;
                line-height: 3.5rem;
                color: $heading-black;
                line-height: normal;
                padding-left: 5.75rem;
            }

            &__subheading {
                font-size: 1.625rem;
                color: $subheading-grey;
                font-family: TTCommons;
                padding-left: 5.75rem;
            }

            &__promo {
               
                &-text {
                    width: 36.5rem;
                    min-height: 14.125rem;
                    border: solid 9px $border-grey;
                    position: relative;
                    padding: 50px;
                    z-index: 3;
                    left: 1.25rem;
                }

                &-heading {
                    font-size: 1.625rem;
                    color: $heading-black;
                    .bold-orange {
                        font-weight: bold;
                        color: $bold-orange;
                    }
                }

                &-subheading {
                    font-family: PTSans-Regular;
                    color: $subheading-grey;
                    letter-spacing: 0.09px;
                    font-size: 1.2rem;  
                }

                &-button {
                    width: 19.4375rem;
                    background-color: $color-white;
                    position: absolute;
                    z-index: 1;
                    bottom: -50px;

                }

                &-sign {                 
                    border: 8px solid rgb(248, 221, 199);
                    background-image: linear-gradient(to top, #e66700 0%, #f6af19 100%);
                    color: $color-white;
                    border-radius: 2.591em;
                    cursor: pointer;
                    font-family: TTCommons;
                    font-size: 1.375rem;
                    outline: none;
                    padding: 1.2em 2em;
                    line-height: 1;
                    transition-duration: 0.3s;
                    background-position: 0 100%;
                     
                    &:hover {
                        transform: scale(.9);
                    }

                    &:active {
                        box-shadow: 0 -200px 100px -120px #e66700 inset;
                    }
                }
            }

            &__picture {
                flex-basis: 60%;
                position: relative;

                &-man {
                    position: absolute;
                    z-index: 2;
                    right: 9.5rem;
                    bottom: -1.5rem;
                }

                &-car {
                    position: absolute;
                    z-index: 1;
                    left: 7.25rem;
                }
            }
        }
    }
}
@import 'media';