
@import '_bootstrap';
@import 'vars';
@import 'fonts';


body {
    background-color: $color-white;

    .header {
        background-color: rgb(161, 165, 103);
        margin: 0 auto;
        padding: 1.25rem 0 0;

        &-content {
            max-width: 100rem;
            margin: 0 auto;
        }

        &-menu {

            &__item {
                list-style-type: none;

                &:nth-child(4) {
                    width: 8.5rem;
                }
                &:nth-child(5) {
                    padding-left: 4rem;
                }
            }
            &__tel {
                font-size: 1.25rem;
                font-family: TTCommons;
                color: $black-link;
                text-decoration: none;
            }
            &__address {
                font-family: PTSans-Regular;
                font-size: 0.875rem;
                user-select: none;
                line-height: 14px;

            }

            &__time {
                user-select: none;
                font-family: TTCommons;
                font-size: 1.0625rem;
                color: $color-white;
            }

            &__ordercall {
                min-width: 10.5625rem;
                min-height: 2.8125rem;
                border-radius: 1.406rem;
                border: solid 3px $color-white;
                background-color: transparent;
                font-size: 18px;
                letter-spacing: 0.01125rem;
                color: $color-white;
                font-family: TTCommons;
                cursor: pointer;
                outline: none;
                // padding: 0.9375rem -1.5625rem;
                letter-spacing: 0.18px;
            }
        }
        &-tagline {
            display: flex;

            &__text {

            }
            &__headings {

            }
            &__heading {
                font-family: TTCommons-DemiBold;
                font-size: 3.5rem;
                line-height: 3.5rem;
            }
            &__subheading {
                font-family: TTCommons;
            }






            &__picture {
                position: relative;
                &-man {
                    position: absolute;
                    left: 496px;
                    top: 152px;
                }
                &-car {
                    position: absolute;
                    
                    
                }
            }
        }
    }
}
@import 'media';



    